<body>

    <!-- <app-navbaruser></app-navbaruser> -->
    <!-- <button (click)="fetchBookings()">Show previous Bookings</button> -->
    
    
    <div class="bookings">
    
    <table class="table-responsive" class="table table-hover table-dark ">
        <thead class="thead-light">
          <tr>
            <th scope="col">BID</th>
            <th scope="col">Booking Date</th>
            <th scope="col">Trip Date</th>
            <th scope="col">Airplane No.</th>
            <th scope="col">From</th>
            <th scope="col">Departure Time</th>
            <th scope="col">to</th>  
            <th scope="col">Arrival Time</th>
            <th scope="col">Payment Amount</th>
            <th scope="col">Passenger Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Age</th>
            
          </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let b of bookings"> 
                <td> {{b.BID}} </td>
                <td>{{b.Booking_Date}}</td>
                <td> {{b.TripDate}} </td>
                <td> {{b.Airplane_No}} </td>
                <td> {{b.DeparturePoint}} </td>
                <td> {{b.Departure_Time}} </td>
                <td> {{b.ArrivalPoint}} </td>
                <td> {{b.Arrival_Time}} </td>
                <td> {{b.PaymentAmount}} </td>
                <td>{{b.PName}}</td>
                <td>{{b.Gender}}</td>
                <td>{{b.Age}}</td>
    
               </tr>
                   
            </tbody>
            <br/>
            <br/>
            <br/>
    
    </table>
    
    </div>
    </body>